@using SudoGenerator.Classes
@using SudoGenerator.Models
@model Configuration

<h3>Create Your Configuration</h3>
<p>Use the following form to create a configuration best suited for your environment and your needs.</p>

@using (Html.BeginForm("Configuration", "Home"))
{
    <div class="form-group">
        <label for="productVersion">Product Version</label>
        @Html.DropDownListFor(c => c.ProductVersion, new SelectList(ProductVersion.ALL, "Id", "Value"), new { id = "ProductVersion", @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ProductVersion)
    </div>

    <div class="form-group">
        <label for="version">Operating System</label>
        @Html.DropDownListFor(c => c.OperatingSystem, Enumerable.Empty<SelectListItem>(), "Please select Product Version first", new { id = "OperatingSystem", @class = "form-control", disabled = "true"})
        @Html.ValidationMessageFor(c => c.OperatingSystem)
    </div>

    <div class="form-group">
        <label for="version">Monitoring User</label>
        @Html.TextBoxFor(c => c.MonitoringUser, new { @class = "form-control", placeholder = "The user which is used for monitoring" })
        @Html.ValidationMessageFor(c => c.MonitoringUser)
    </div>

    <label>Options</label>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.IncludeMaintenance) Include Agent Maintenance (Install, upgrade, uninstall of agent)?
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.IncludeLogs) Include Log File Monitoring (Read privileged log files)?
        </label>
    </div>

    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(c => c.IncludeSamples) Include Samples?
        </label>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Generate</button>
    </div>
}

<script type="text/javascript">
    $("#ProductVersion").change(function () {
        var data = {
            type: "os",
            ProductVersion: $("#ProductVersion").val()
        };

        $.getJSON('/Home/Data', data, function (result) {
            var dropdown = $('#OperatingSystem');
            dropdown.empty();

            $(result).each(function () {
                $(document.createElement('option'))
                    .attr('value', this.Id)
                    .text(this.Value)
                    .appendTo(dropdown);
            });

            dropdown.prop("disabled", false);
        });
    });
</script>